<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="../Sources/js/vue.js"></script>
</head>
<body>
    <div id="example">
        <h1>我是父组件的标题</h1>
        <my-component>
            <p>这是一些初始内容</p>
            <p>这是更多的初始内容</p>
        </my-component>

        <app-layout>
            <template slot="header" scope="props">
                <h2>{{ props.text }}</h2>
            </template>
            <p slot="footer">这里可能是一个底部说明</p>
            <p>这是一个主体段落</p>
        </app-layout>

        <child>
            <template scope="props">
                <p>hello from parent</p>
                <p>{{ props.text }}</p>
            </template>
        </child>

        <item-component :items="items">
            <template slot="item" scope="props">
                <li>{{ props.text }}[{{ props.code }}]</li>
            </template>
        </item-component>

        <keep-alive>
            <component :is="currentView"></component>
        </keep-alive>
        <div>
            <p is="button-component" v-for="comp in comps" :comtype="comp.type" :comname="comp.name" @show="showContent"></p>
        </div>
    </div>

    <script type="text/javascript">

        var my_component = {
            template: '\
                <div>\
                    <h2>我是子组件的标题</h2>\
                    <slot>\
                        只有在没有要分发的内容时才会显示。\
                    </slot>\
                    <p>my_component</p>\
                </div>\
                ',
        };

        var app_layout = {
            template: '\
                <div>\
                    <header>\
                        <slot name="header" text="这里是slot.text传递的值"></slot>\
                    </header>\
                    <main>\
                        <slot></slot>\
                    </main>\
                    <footer>\
                        <slot name="footer"></slot>\
                    </footer>\
                    <p>app_layout</p>\
                </div>\
           ',
        };

        var child_component = {
            template: '\
                <div>\
                    <slot text="hello from child"></slot>\
                    <p>child_component</p>\
                </div>\
            '
        };

        var item_component = {
            template: '\
                <ul>\
                    <slot name="item"\
                        v-for="item in items"\
                        :text="item.text"\
                        :code="item.code">\
                    </slot>\
                    <p>item_component</p>\
                </ul>\
            ',
            props: ['items']
        };

        var button_component = {
            template: '\
                <button  v-on:click="show">{{ comname }}</button>\
            ',
            props: {
                comtype: {
                    type: Object,
                    default: null
                },
                comname: {
                    type: String,
                    default: ''
                }
            },
            methods: {
                show: function () {
                    this.$emit("show", this.comtype);
                }
            }
        }

        var vm = new Vue({
            el: '#example',
            components: {
                'my-component': my_component,
                'app-layout': app_layout,
                'child': child_component,
                'item-component': item_component,
                'button-component': button_component
            },
            data: {
                items: [
                    { text: "语文", code: "YUWEN" },
                    { text: "数学", code: "SHUXUE" },
                    { text: "英语", code: "YINGYU" }
                ],
                comps: [
                    { type: my_component, name: "组件一" },
                    { type: app_layout, name: "组件二" },
                    { type: child_component, name: "组件三" },
                    { type: item_component, name: "组件四" },
                ],
                currentView: my_component
            },
            methods: {
                showContent: function (comtype) {
                    this.currentView = comtype;
                }
            }
        });
    </script>
</body>
</html>
