<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="../Sources/js/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>
            <my-child message="Hello!"></my-child>
        </p>
        <ol>
            <todo-item v-for="item in groceryList" v-bind:title="tip" :todo="item"></todo-item>
        </ol>

        <ol>
            <part-component v-for="item in groceryList" v-bind:title="tip" v-bind:todo="item"></part-component>
        </ol>

        <div>
            <p>共用一个 data 的组件</p>
            <simple-counter></simple-counter>
            <simple-counter></simple-counter>
            <simple-counter></simple-counter>
        </div>

        <div>
            <p>每个组件独立的 data </p>
            <simple-counter2></simple-counter2>
            <simple-counter2></simple-counter2>
            <simple-counter2></simple-counter2>
        </div>

    </div>

    <script type="text/javascript">

        Vue.component('my-child', {
            props: ['message'],
            template: '<div><input v-model="message"/><br/><span>{{message}}</span></div>'
        });

        Vue.component('todo-item', {
            props: ['todo', 'tip'],
            template: '<li v-bind:title="tip">{{todo.text}}</li>'
        });

        var Child = {
            template: '<li v-bind:title="tip">{{todo.text}}</li>',
            props: ['todo', 'tip'],
        };

        var data = { counter: 0 };

        Vue.component('simple-counter', {
            template: '<button v-on:click="counter+=1">{{counter}}</button>',
            data: function () {
                return data;
            }
        })

        Vue.component('simple-counter2', {
            template: '<button v-on:click="counter+=1">{{counter}}</button>',
            data: function () {
                return { counter: 0 };
            }
        })

        var vm = new Vue({
            el: "#app",
            components: {
                'part-component': Child
            },
            data: {
                tip: '这是一种食物',
                groceryList: [
                    { text: '蔬菜' },
                    { text: '奶酪' },
                    { text: '水果' },
                    { text: '牛肉' },
                    { text: '其他人类吃的东西' }
                ]
            }
        });

    </script>
</body>
</html>
